.allgames-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr; /* sinistra fissa, destra flessibile */
  gap: 20px;
  padding: 20px;
  /*min-height: calc(100vh - 60px);*/ /* se hai una navbar */
}

/* Colonna destra con le cards */
.games-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 card per riga */
  gap: 20px;
}


.no-games-message {
    font-size:3rem;
    text-align: center;
    color: #e09c9c;
    margin-top: 2rem;
}