.allgames-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: calc(100vh - 60px); /* Assume navbar è 60px */
}



/* Lista giochi */
.games-container {
  flex: 2;
  display: grid;
   grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
