/* AllGames.css o GameFilters.css */

.filters-wrapper {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: #222;   /* sfondo scuro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.6);
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /*max-height: 780px;*/
  min-width: 250px;
  align-self: flex-start;
}

.filters-wrapper label {
  font-weight: 600;
  margin-bottom: 6px;
}

.filters-wrapper select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: #eee;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filters-wrapper select:hover,
.filters-wrapper select:focus {
  background-color: #444;
  outline: none;
}

.filters-wrapper p {
  margin: 8px 0 4px;
  font-weight: 600;
}

.filters-wrapper ul {
  list-style: none;  /* rimuove i pallini */
  padding-left: 0;
  margin: 0;
}



/* .filters-wrapper ul li {
  background-color: hwb(0 27% 67%);
  margin-bottom: 6px;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.95rem;
  text-align: center;
} */

.selectedGenre {
  background-color: hwb(54 9% 61%);
  margin-bottom: 6px;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.95rem;
  text-align: center;
}

.selectedPlatform {
  background-color: hwb(191 11% 72%);
  margin-bottom: 6px;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.95rem;
  text-align: center;
}



.filter-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    width: 100%; /* Make the button full width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-button:disabled {
    background-color: #6457577a;
    color: rgb(168, 129, 129);
    cursor: not-allowed;
}

/*Clean filters button */

.clean-button {
    background-color: #812f2f;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%; /* Make the button full width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    align-items: center;
}

.clean-button:hover {
    background-color: #722222;
}

.clean-button:disabled {
    background-color: #6457577a;
    color: rgb(168, 129, 129);
    cursor: not-allowed;
}
